{% extends "layout.html" %}

{% block content %}
{% if session.user_id %}
<h1>Omat tapahtumat</h1>
<ul>
    {% for own_event in own_events %}
    <li><a href="/event/{{ own_event.event_id }}">{{ own_event.event_name }}</a>
    {% endfor %}
</ul>
{% endif %}
<br>
<h1>Julkiset tapahtumat</h1>
Tapahtumien määrä: {{ count }}
<br>
<ul>
    {% for public_event in public_events %}
    <li><a href="/event/{{ public_event.event_id }}">{{ public_event.event_name }}</a>
    {% endfor %}
</ul>
{% endblock %}
