{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>Rekisteröidy sovellukseen</h1><br>
    <form action="/register" method="post">
        <div class="form-group">
            <label>Käyttäjätunnus</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label>Salasana</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Rekisteröidy</button>
        </div>
    </form>
</div>
{% endblock %}